body {
    font-family: 'Work Sans', sans-serif;

}

.main_body {
    max-width: 1140px;
    margin: 0 auto;

}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_sections {
    display: flex;
    align-items: center;
}

.header_sections h3 {
    margin-left: 15px;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}

.header_sections span {
    color: #FF42A5;
    font-size: 45px;
    font-weight: 700;

}

.header_sections img {
    width: 86.041px;
    height: 40px;
}

.header_about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_about_us a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

.header_follow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.header_follow a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

.header_youtub {
    width: 33.916px;
    height: 24px;
}

.header_tik {
    width: 24px;
    height: 24px;
}

.play_like {
    display: flex;
    justify-content: space-between;
   
}
.header_area {
   
    /* background-color: #FDFBFE; */
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
}

.play_likes {
    /* padding: 20px; */
   
   
}

.play_likes h3 {
    color: #0B0223;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 100px;
}

.play_likes h1 {
    font-size: 65px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_likes p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.button_sing {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    margin-bottom: 100px;
}

.button_go {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}
.play_image img{
    width: 500px;
    height: 600px;

}